<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- HTML -->
    <link rel="icon" type="image/svg+xml" href="{{ asset('images/logo/favicon.svg') }}" />
    <!-- fallback PNG si certains navigateurs posent problème -->
{#    <link rel="icon" type="image/png" href="{{ asset('images/logo/LogoRTB.png') }}" />#}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&family=Monoton+Guy&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<header>
    {% include 'fragments/_navbar.html.twig' %}
</header>

<main>
    {% block body %}
    {% endblock %}
</main>
<footer></footer>

</body>
</html>
